---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("pages", "contact");
const { contact_form_action }: { contact_form_action: string } = config.params;
const { title, description, meta_title, image } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />

  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="mx-auto md:col-10 lg:col-6">
          <form name="contact-form" action={contact_form_action} method="POST">
            
            <div class="mb-6">
              <label for="name" class="form-label">
                Nama Lengkap <span class="text-red-500">*</span>
              </label>
              <input
                id="name"
                class="form-input"
                placeholder="Valerie"
                type="text"
                name="name"
                required
                title="Masukan Nama"
              />
            </div>

            <div class="mb-6">
              <label for="mail" class="form-label">
                Email <span class="text-red-500">*</span>
              </label>
              <input
                id="mail"
                class="form-input"
                placeholder="vale@email.com"
                type="email"
                name="email"
                required
                title="Masukan Email"
              />
            </div>

            <div class="mb-6">
              <label for="phone" class="form-label">
                No Handphone <span class="text-red-500">*</span>
              </label>
              <input
                id="phone"
                class="form-input"
                placeholder="08xx-xxxx-xxxx"
                type="text"
                name="phone"
                required
                title="Masuk No Handphone"
              />
            </div>

            <div class="mb-6">
              <label for="file" class="form-label">
                Unggah Identitas Diri <span class="text-red-500">*</span>
              </label>

              <input
                type="file"
                id="file"
                class="block w-full text-sm text-slate-500 file:mr-4 file:border-0 file:bg-gray-100 file:px-4 file:py-2 file:text-sm file:font-semibold file:text-inherit hover:file:bg-lime-400"
                name="file"
                required
                title="Masukan Identitas Diri"
              />
            </div>

            <button type="submit" class="btn btn-primary">Kirim</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</Base>
